/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
    color: #ccdbff;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    float:left;
    border:none;
    padding:10px;
    outline:none;
 }
 .search-bar{
    width:85%;
    text-align: center;
    color: #487af7;
 }
 .submit-button{
    width:15%;
    background:#292887;
    color:#ccdbff;
 }
 
/*
 =================================================
BOOKMARKS
=================================================
*/
.bookmarks{
   padding:30px;
   clear:both;
}
.bookmarks i{
   font-size:42px;
   margin:0 20px;
   color:#f6bbe8;
   transition:.15s;
   vertical-align:top;
   
}
.bookmarks i:hover{
   font-size:72px;
   position:relative;
}

/*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
   width:150px;
   height:150px;
   resize: none;
   background: #fef3fb;
   padding:15px;
   border:none;
   position: absolute;
   bottom:50px;
   left:50px;
   font-family:sans-serif;
  }

  @media only screen and (max-width: 900px) {
   h1{
       margin-top:50px;
       font-size:100px;
   }
}


@media only screen and (max-width: 600px) {
   h1{
       margin-top:50px;
       font-size:75px;
   }
   .bookmarks i{
   margin:0 15px;
   }
}

   html{
      background-color: #dfe6f8;
   }
 
  
 